body {
  background-color: #fffce8;
  font-family: sans-serif;
}

.main-body {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 10px 15px;
}

.restaurant-box {
  background-color: #b8b42d;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.menu-list {
  list-style: none;
  padding-left: 0;
}

.item-list {
  list-style: none;
  padding-left: 10px;
}

.sidebar {
  padding: 10px;
}

.fas {
  display: block;
}

.item1 {
  background-color: green;
  border-radius: 10px;
  display: flex;
  padding-left: 10px;
}

.item2 {
  background-color: yellow;
  border-radius: 10px;
  display: flex;
  padding-left: 10px;
}

.item3 {
  background-color: red;
  border-radius: 10px;
  display: flex;
  padding-left: 10px;
}

.item4 {
  background-color: blue;
  border-radius: 10px;
  display: flex;
  padding-left: 10px;
}

.item5 {
  background-color: pink;
  border-radius: 10px;
  display: flex;
  padding-left: 10px;
}

.item6 {
  background-color: maroon;
  border-radius: 10px;
  display: flex;
  padding-left: 10px;
}

.item-text {
  display: flex;
  flex-direction: column;
  align-content: center;
}
